---
import { projects } from "../lib/projects";
import arrowSvg from "../../public/arrow.svg";
---

<section>
  <h2 class="mb-2 font-semibold">Side Projects</h2>
  <div class="mb-4 text-xs text-neutral-400">
    (Projects are hosted on a free-tier hosting platform, allow some time for
    web app to spin up).
  </div>
  {
    projects.map((project) => {
      return (
        <div class="mb-4 flex">
          <div class="mr-8 w-24 flex-none">
            {project.repo && (
              <a
                class="text-xs"
                rel="noopener noreferrer"
                target="_blank"
                href={project.repo}
              >
                <span class="hover:text-neutral-300">Github repo</span>{" "}
                <img class="inline h-3 w-3" src={arrowSvg.src} alt="link" />
              </a>
            )}
          </div>
          <div class="mb-2 flex-1 text-neutral-400">
            {project.demo ? (
              <a href={project.demo} rel="noopener noreferrer" target="_blank">
                <h3 class="mb-1 text-lg font-semibold text-white hover:text-gray-300">
                  {project.name}{" "}
                  <img
                    class="mx-2 inline h-4 w-4"
                    src={arrowSvg.src}
                    alt="link"
                  />
                </h3>
              </a>
            ) : (
              <h3 class="mb-1 text-lg font-semibold text-white">
                {project.name}
              </h3>
            )}
            <p class="mb-1 text-sm">{project.description}</p>
            <small class="text-xs text-neutral-500">
              {project.tech.join(" - ")}
            </small>
          </div>
        </div>
      );
    })
  }
</section>
